@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wdth,wght@125,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Tiny5&family=Jersey+10&display=swap");

@font-face {
	font-family: 'Mbc1961';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961M.woff2') format('woff2');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NanumJeomGgorCe';
	src: url('../font/jum/NanumJeomGgorCe.eot');
	/* IE9 Compat Modes */
	src: url('../font/jum/NanumJeomGgorCe.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/jum/NanumJeomGgorCe.woff') format('woff');
	/* Modern Browsers */


	font-weight: normal;
	font-style: normal;
}





.logo-text,
.here {
	font-family: 'NanumJeomGgorCe'; 
}

.summary {
	font-family: "Annie Use Your Telescope", handwriting;
}



.section-03 .text {
	font-family: "Advent Pro", sans-serif;
	font-weight: 900;
	font-stretch: 125%;
}

html,
body {
	/* font-size: 10px; */
	font-size: 62.5%;
	scroll-behavior: smooth;
	background-color: #000;

}


:root {


	--glow: #f8ffdad0;
	--shadow: #f0ecec9c;

	--s: 126px;
	--c1: #000000;
	--c2: #ffffff;
	--c3: #8708da;
	--c4: #211bc7;
	--bg-dark: rgb(24, 24, 27);
	--bg-light: rgb(229, 229, 229);

	--txt-light: rgb(10, 10, 10);
	--txt-dark: rgb(245, 245, 245);

}

.section-02 {
	font-family: 'Mbc1961', sans-serif;
}

.section-05 {

	background-color: var(--bg-light);
	color: var(--txt-light);


	min-height: 100svh;
	margin: 0;
	padding: 1rem;
	font-size: 1rem;
	font-family: system-ui;
	line-height: 1.5;
	display: grid;
	place-items: center;
	gap: 2rem;


	code {
		color: steelblue;
	}
}